@import '@material/theme/color-palette'


$mdc-theme-primary: #0D2F80
$mdc-theme-secondary: #709bff

$mdc-theme-background: #061840
$mdc-theme-surface: #9dcad1

$mdc-theme-error: $material-color-red-900